<h1>
    Welcome to Angular World
</h1>
<!--<p>Title: {{title | uppercase}}
    </p>
    <hr/>

    <p>Student Name: {{Students.Name}}
    </p>
    <p>Phone No:{{Students.Phone}}
    </p>
    <ol>
        <li>{{Flowers.First}}</li>
        <li>{{Flowers.Second}}</li>
        <li>{{Flowers.Third}}</li>
        <img src={{ImageUrl}} width="100 " height="100 " />
        <p> Unit Price:{{price | currency:"INR":"symbol"}}
        </p>
    </ol>
    <table>

        <tr>
            <td>Your Name:
            </td>
            <td>
                <input type="text" /></td>

        </tr>
        <tr>
            <td>
                <button (click)="OnButtonClick()">Update</button>
            </td>
        </tr>
    </table>


<table>
    <tr>
        <td>
            <app-details [product]="product1">
            </app-details>
        </td>
        <td>
            <app-details [product]="product2">
            </app-details>
        </td>

    </tr>
</table>

    -->
<app-login></app-login>
<hr/>
<h2>Flowers Catalog</h2>
<app-list></app-list>
